# Ruby
*.gem
*.rbc
.ruby-version
.ruby-gemset
.rvmrc

# Bundler
/.bundle/
/vendor/bundle
/lib/bundler/man/

# RSpec
/spec/reports/
/spec/examples.txt
.rspec_status

# Coverage
/coverage/

# Temporary files
/tmp/
*.tmp

# Debug
.byebug_history

# Environment variables
.env

# Documentation
/.yardoc/
/_yardoc/
/doc/
/rdoc/

# Build artifacts
/pkg/
/InstalledFiles
